* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #d0342c;
    --text: #453f3f;
    --border: #d7c8c7;
    --offWhite: #f6f6f6;
    /* --offWhite: white; */
    --cookiecolor: grey; /* Default background color */
    --svg_text: #600606;
    --footer: #242222;
    --header-height: 55px; /* Adjust this line */
    --yellow: #fff02a; /* Add this line */
    --yellowBorder: rgb(255, 227, 144);
    --boldText: #191818; /* Add this line */
    --border2: #f2ecec;
    --pink: #fff0f0;
    --startHeight: calc(var(--header-height) + 7vh);
  }

::selection {
    background: rgb(240, 131, 131);
}

@font-face {
    font-family: 'Inter';
    src: url('/files/Inter.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html, body {
    width: 100%; /* Prevent horizontal overflow */
    overflow-x: hidden;
}


/* Hide scrollbar for IE, Edge and Firefox */
html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

body {
    background-color: var(--offWhite);
}

header {
    display: flex;             /* Make the header a flex container */
    align-items: center;       /* Vertically center content */
    justify-content: space-between; /* Space title and nav evenly */
    background-color: white;
    /* height: var(--header_height); */
    height: 55px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--border);
  }




.header-content {
    display: flex;
    align-items: center; /* Vertically centers items */
    justify-content: space-between; /* Optional: Distributes space between items */
    height: auto; /* Set a height for the header (or inherit from parent) */
    padding-left: calc(10vw/2);
}

.header-content a {
    display: inline-block; /* Make the <a> shrink-wrap its content */
    width: auto;           /* Ensure it takes the SVG's width */
    height: auto;          /* Ensure it takes the SVG's height */
    padding: 0;            /* Remove default padding */
    margin: 0;             
    text-decoration: none; 
    overflow: hidden
}

.germany-logo {
    width: 40px;
    height: auto;
    z-index: 10;
}

* {
    -webkit-tap-highlight-color: rgba(234, 216, 216, 0.241);
}


.nav, .accessibility-options, .nav-hilfe, .arrow, .quiz-link, .threat-link, .hilfe-link {
    display: none !important;
    user-select: none;
}

.mobile-arrow, .quiz-link {
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
}

.info-section--quiz .mobile-arrow {
    color: var(--red);
}

.burger-menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1200;
    right: calc(10vw/2);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    height: var(--header-height);
}

.burger-menu:active {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}


.quiz-container {
    /* background-color: blue; */
    height: auto;
    border: 1px solid var(--border);
    background-color: white;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: var(--startHeight);
    min-height: 10vh;
}

.quiz {
    position: relative;
    display: flex;
    flex-direction: column;
}

.quiz-question {
    margin-top: 3vh;
    color: var(--boldText);
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    /* background-color: red; */
    /* Remove any fixed heights */
}

.quiz-answer-container {
    width: 100%;
    padding: 0 20px;
    margin-top: auto;
    padding-bottom: 3vh;
    /* Remove position: absolute */
}

.answer-button {
    padding: 15px 20px;
    background: none;
    border: 1px solid var(--border);
    margin: 5px 0;
    font-size: 15px;
    text-align: left;
    border-radius: 5px;
    width: 100%;
    transition: all 0.1s ease;
}

.answer-button.selected {
    background-color: rgb(255, 240, 240);
    border-color: var(--red);
    transition: all 0.1s ease;
}

.quiz-nav {
    display: none;
    user-select: none;
}

.quiz-nav-mobile {
    cursor: default;
    width: 90%;
    margin: 0 auto;
    margin-top: 1vh;       /* Distance from the bottom of the parent */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40vh;
}

.quiz-progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 4px 4px 0 0;
    background: rgb(243, 243, 243);
    overflow: hidden;
    bottom: 0;
}

.quiz-progress-fill {
    height: 100%;
    transition: width 0.5s ease-in-out;
    background-color: var(--red);
  }

.btn {
    padding: 8px 16px;
    background-color: #fcf8f8;
    color: var(--footer);
    border: solid 1px rgb(198, 184, 184);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7px;
    transition: background-color 0.2s ease;
}

.btn:first-of-type {
    margin-left: 0;
}

.btn:hover {
    background-color: #fffbfb;
    border: solid 1px rgb(212, 127, 127);
}

.btn:disabled {
    background: rgb(243, 243, 243);
    border: solid 1px var(--border);
    color: #b8b8b8;
    cursor: default;

}

.results {
    display: none;
    padding: 20px;
}

.mobile-nav {
    position: fixed; /* Damit es über allem liegt */
    top: 0;
    padding-left: calc(10vw/2);
    right: -100%; /* Start off-screen */
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease;
    z-index: 1000; /* Höher als das Logo */
}


.mobile-nav.active {
    right: 0; /* Slide into view */
    z-index: 1000; /* Höher als das Logo */
}

.mobile-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    /* background-color: yellow; */
}

.mobile-nav-item {
    text-decoration: none;
    width: 100%;
    /* background-color: red; */
}

.mobile-nav-item-link  {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    /* background-color: pink; */
    display: block; /* Add this */
    width: 100%;    /* Add this */
    padding: 20px 0; /* Optional: for better touch targets */
}

.mobile-nav li {
    border-bottom: solid 1px var(--border);
    
}

.mobile-nav-div {
    display: block;
    padding-right: calc(10vw/2);
    margin-top: 10vh;
}

/*Back button*/
.mobile-nav-div:first-child {
    padding: 20px;
    margin-bottom: 60px;
}







/*SICHER*/
.cta-highlight {
    color: var(--red);
}









.explainer-section {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid var(--border);
  }
  
  .explainer-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Slightly reduced gap for mobile */
    justify-content: space-between;
    padding-bottom: 60px;
  }
  
  .explainer-title {
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 50px;
    margin-bottom: 30px;
  }
  
  .explainer-flex a {
    display: contents;
    text-decoration: none;
  }
  
  .landing-block {
    flex: 0 0 calc((100% - 15px) / 2); /* Two items per row */
    box-sizing: border-box;
    text-align: center;
    position: relative;
    background-color: inherit;
    border: 1px solid var(--border);
    color: var(--text);
    transition: background-color .4s ease, border-color .3s ease, color .2s ease;
  }





.icon-svg {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
    margin-top: 5px;
}

.icon-text {
    font-size: 1.0rem;
    color: var(--text);
    padding-bottom: 20px;
}





.resetter {
    visibility: hidden;
    display: none;
}

.resetter-spacing {
    height: 40px;
    width: 100%;
}

.resetter.shown:hover{ /* SVG arrow */
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: translateY(-1px);
    transition: transform 0.2s ease-in;
}

.resetter a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Remove underline from the link */
}

.resetter.shown {
    opacity: 1; /* Fully transparent */
    transition: opacity 1s ease, transform 0.5s ease-out; /* Fade out transition */
    pointer-events: auto;
    transform: translateY(0);
}

.resetter img { /* SVG arrow */
    width: 50%;
    height: 50%;
    transform: rotate(270deg); /* Rotate the image */
    transform-origin: center; /* Set rotation origin */
    -webkit-user-drag: none;
}





/*FAQ*/


.faq-container {
    width: 100%;
    padding-top: 8vh;
}

.br-pc {
    display: none;
  }

.accordion-header {
    padding-left: 10px;
    font-size: 1.55rem;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-weight: 650;
    border-bottom: solid 3px var(--red);
    border-left: solid 3px var(--red);
  }

.faq-header {
    margin: 30px 0;
    /* background-color: pink; */
}

.faq-header h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.faq-header p {
    font-size: 1rem;
    line-height: 1.4;
}

.faq-accordion {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid var(--border);
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

/* Make sure panels start closed */
.faq-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq-panel p {
    padding: 15px;
    margin: 0;
}

.faq-panel ul {
    padding: 0 15px 15px 30px;
    margin: 0;
}

.faq-panel li {
    margin-bottom: 8px;
}

/*FAQ*/





/*Footer*/

.footer {
    display: none;
}

.footer-mobile {
    bottom: 0;
    padding: 0;
    display: block;
    width: 100%;
    padding-top: 10px;
    background-color: var(--footer);

}

.accordion {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(239, 229, 229);
    font-weight: 400;
    /* background-color: salmon; */
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    transition: padding-bottom 0.3s ease-out; /* Add this */
}

.accordion.active {
    /* background-color: pink; */
    padding-bottom: 12px;
    transition: padding-bottom 0.3s ease-out; /* Add this */
}

.accordion-wrapper {
    border-bottom: 1px solid #140f0f;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-bottom: 0; /* Add this */
    margin-bottom: 0; /* Add this */
}



.panel ul {
    list-style: none;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

.panel li {
    border-bottom: 1px solid #140f0f;
    height: 40px; /* Add minimum height if needed */
    display: flex; /* Change to flex */
}

.panel li a {
    font-size: 12px;
    display: flex; /* Change to flex */
    align-items: center; /* Vertically center text */
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: var(--border);
    text-decoration: none;
}

.panel li:last-child {
    margin-bottom: 30px;
}

.copyright {
    padding: 30px;
    margin-top: 10px;
    color: #565050;
}


.white-bg {
    background-color: var(--offWhite);
    width: 100%;
    height: auto;
    min-height: calc(100vh - var(--header_height) -100);
}

.main-section {
    width: 90%;

    margin: 0 auto;
}

.center {
    text-align: center;
    height: auto;
}

.main-text {
    user-select: none;
    font-size: 17px;
    line-height: 120%;
    font-weight: 300;
    margin: 0;
    color: #191919;
    text-align: left;
    padding: 150px 0;
}

.main-text--right {
    text-align: right;
    width: 100%;
    margin: 0;
}

.threat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7vw;
}

.threat-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    gap: 5px;
}

.threat-item {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(242, 236, 236);
    width: calc(100% - 2.5px);
    height: 25vw;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.threat-item-headline {
    font-size: 1.5vw;
    margin: 10px;
}

.threat-link {
    font-size: 1.1vw;
    color: var(--red);
    font-weight: 300;
    margin-top: auto;
    margin-bottom: 0.1vw;
    position: absolute;
    bottom: 1.75vw;
    left: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.threat-item:hover .threat-link {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.topic-icon {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 1vw;
    width: 30vw;
    right: -5vw;
    height: auto;
}


.threat-item h2 {
    font-size: 3vw;
    font-weight: 300;
    margin-top: auto; /* Push the heading to the bottom */
    margin-bottom: 1.5vw;
    position: absolute;
    bottom: 1.75vw;
    left: 2vw; /* Position it on the left */
    transform: translateY(0);
    transition: transform 0.3s ease;
    text-align: left;
  }

  .info-section {
    border-radius: 5px;
    /* margin-top: 10vw; */
    user-select: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
    background-color: #fff02a; /* Example background color for the yellow section */
}

.info-context {
    margin: 0;
    max-width: 70vw;
    padding-bottom: 3vw;
    color: #333;
    text-align: left;
}

.info-container {
    user-select: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.info-section {
    border: 1px solid rgb(255, 227, 144);
    width: 90%; /* Adjust width for mobile */
    height: auto;
    min-height: 30vh; /* Adjust height for mobile */
    background-color: #fff02a;
    margin: 20px auto; /* Adjust margin for mobile */
    border-radius: 5px;
    position: relative;
    clip-path: inset(0);
    margin-bottom: 0;
}

.info-section--info, .info-section {
    margin-top: var(--startHeight);
    padding: 20px;

}

@media (max-width: 767px) {
    /* Remove line breaks by hiding the <br> tags on mobile */ 
    .header-p br {
        display: none;
    }
}


.info-section--hilfe2 {
    background-color: rgb(255, 240, 240);
    border-color: rgb(209, 155, 155);
    transition: all 0.3s ease;
    animation: warningPulse 3s ease-in-out infinite;
  }
  
  
  @keyframes warningPulse {
    0%, 100% {
        background-color: rgb(255, 240, 240);
        border-color: rgb(209, 155, 155);
    }
    50% {
        background-color: rgb(248, 212, 212);
        border-color: var(--red);
    }
  }

  .info-section--hilfe .info-header, .info-section--hilfe2 .info-header {
    color: var(--red);
  }

.info-section--quiz {
    background-color: white;
    border-color: rgb(242, 236, 236);
    margin: 0;
    width: 100%;
    padding: 20px;
}

.info-section--hilfe {
    margin: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 240, 240);
    border-color: rgb(209, 155, 155);
    margin-bottom: 100px;
}

.info-section--hilfe .mobile-arrow {
    color: var(--red);
}

.info-highlight {
    color: var(--red);
}

.topic-background {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 23vh;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10vh;
}

.topic-background-first {
    margin-top: 24vh;
}

.topic-background-last {
    margin-bottom: 8vh;
}

.tips {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    height: auto;
    display: none;           /* Initially hidden */
    opacity: 0;              /* Fully transparent */
    transition: opacity 1s;  /* Smooth transition for opacity */
    padding: 20px;
    margin: 0 auto;
    margin-top: 5vw;
  }

.topic-section {
    position: relative;
}

.topic-section-icon {
    position: absolute;
    /* background-color: red; */
    width: 60vw;
    transform: translateY(-42vw) translateX(10vw);
}

.topic-above-header {
    margin-top: 2vh;
    font-weight: 500;
    font-size: 12px;
  }
  
  .topic-header {
    font-size: 20px;
    color: var(--red);
    margin: 0;
    margin-top: 1.5vh;
    margin-bottom: 20px;
  }
  
  .topic-text {
    margin-top: 20px;
    max-width: 60ch;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
    color: rgb(94, 90, 90);
    margin: 0;
  }

  /* Standardstil für die Buttons */
.topic-text-side {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    line-height: 95%;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    color: var(--red); /* Farbe für aktive Buttons */
    border-left: solid 3px var(--red);
    margin: 10px 0; /* Reset all margins */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(249, 248, 248, 0.547);  
  }

  .topic-text-side:not(.active) {
    color: var(--footer); /* Farbe für inaktive Buttons */
    border-left: solid 3px var(--border2);
  }

  

  .risiko-check-tip {
    padding-left: 20px;
    margin-bottom: 5vh;
    font-size: 15px;
    line-height: 1.6;
    max-width: 30ch;
  }

  .risiko-check-tip li {
    margin-bottom: 1vh;
  }

  .faq-section {
    width: 100%;
  }

  /* Stil für den Textcontainer */
.expandable {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease; /* Smooth transition */
    padding: 0 15px; /* Kein Padding, wenn eingeklappt */
    line-height: 1.5;
  }
  
  /* Wenn ein Abschnitt erweitert ist */
  .expandable.expanded {
    max-height: 500px; /* Oder ein ausreichend hoher Wert */
    padding: 10px 15px; /* Padding hinzufügen, wenn ausgeklappt */
    margin-bottom: 15px;
    /* background-color: red; */
  }

.header-p, .hilfe-link-2 {
    font-size: 14px;
    line-height: 1.5;
    margin: 1rem 0;
}

  
  .topic-upper-region {
    width: auto;
    height: auto;
    position: relative;
    /* background-color: rebeccapurple; */
  }

  
  .source-box {
    width: 100%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;

  }

.topic-source {
    padding: 0;
    margin: 0;
    color: rgb(128, 128, 128);
    font-size: 13px;
    bottom: -50px;
    right: -20px;
    background-color: white;
    border: none;
  }
  
  .topic-source-active {
    color: var(--red);
    text-decoration: underline;
  }

  .topic-source-content {
    height: 0;
    opacity: 0;
    padding-bottom: 20px;
    user-select: none;
    color: rgb(128, 128, 128);
    font-size: 13px;
    transition: all 0.5s ease;  
  }
  
  .topic-source-content span {
    color: var(--red);
  }
  
  .topic-source-content a:visited, .topic-source-content a {
    color: var(--footer);
  }
  
  .topic-source-content-active {
    opacity: 1;
    user-select: text;
    color: rgb(128, 128, 128);
    font-size: 13px;
    transition: all 0.5s ease;  
  }

.hilfe-link-2 {
    margin-top: 2vh;
    color: var(--red);
    font-weight: 600;
}

.repeat-quiz-btn {
    visibility: hidden;
    display: none;
}

.repeat-quiz-btn-mobile {
    display: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
}

.info-header {
    font-size: 10vw; /* Adjust font size for mobile */
    line-height: 0.9;
    font-weight: 800;
    margin: 0;
    margin-bottom: 3vh;
    margin-top: 1vh;
    color: var(--boldText);
}

.info-context {
    margin: 0;
    max-width: 100%; /* Adjust width for mobile */
    padding-bottom: 10px; /* Adjust padding for mobile */
    color: #333;
    text-align: left;
    padding-left: 5px; /* Adjust padding for mobile */
}

.info-eagle {
    width: 130vw; /* Adjust width for mobile */
    height: auto;
    position: absolute;
    top: 0;
    left: 13vw;
    opacity: 0.04;
    user-select: none;
    -webkit-user-drag: none;
}

.linker {
    background-color: var(--yellow);
    border-color: var(--yellowBorder);
  }



